.wrapper
  .page-header.page-header-small(filter-color='orange')
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/bg5.jpg') ;")
    .container
      .content-center
        .photo-container
          img(src='assets/img/tim.png', alt='')
        h3.title Tim
        p.category Super hero
  .section
    .container
      .button-container
        a.btn.btn-primary.btn-round.btn-lg(href='https://timdows.com', target="_blank") Private portfolio
        a.btn.btn-default.btn-round.btn-lg.btn-icon(href='https://www.linkedin.com/in/timdows/', , target="_blank", title='LinkedIn')
          i.fab.fa-linkedin
      h3.title About me
      h5.description
        | Motivated and visionary professional with strong knowledge of computer systems. Excellent interpersonal skills, as well as strong verbal and written command of the Dutch, English and Spanish languages.
        br
        br
        | Over nine years of experience as a professional software engineer. Specialized in Microsoft .NET development, with extensive knowledge of the C# programming language and its companion run-time and framework.
        br
        br
        | Lives across the building and was able to take daily pictures from the start.