.wrapper
  .page-header.page-header-small
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/oud.jpg');")
    .container
      .content-center
        h1.title {{siteName}}
        h3.title Dit domein is te koop
  .section.section-about-us
    .container  
      .row
        .col-md-2
        .col-md-8
          span De volgende domeinnamen zijn te koop, stuur een email naar 
            a(href="mailto:info@upliving.nl") info@upliving.nl 
            |  voor meer informatie
          ul
            li upliving.nl
            li up-living.nl
            li upcampus.nl
            li nidoutrecht.nl
            li nido-utrecht.nl
            li nidoantoniushof.nl