nav.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent(color-on-scroll='500')
  .container
    .navbar-translate
      a.navbar-brand([routerLink]="['/']", placement='bottom')
        | {{siteName}}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation', (click)='sidebarToggle()')
        span.navbar-toggler-bar.bar1
        span.navbar-toggler-bar.bar2
        span.navbar-toggler-bar.bar3
    .collapse.navbar-collapse(data-nav-image='assets/img/blurred-image-1.jpg', data-color='orange')
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link([routerLink]="['/abouttim']")
            i.fa.fa-id-badge.fa-2x
            p &nbsp;Over Tim
        li.nav-item
          a.nav-link([routerLink]="['/buydomain']")
            i.fa.fa-globe.fa-2x
            p &nbsp;Domeinnaam kopen
        li.nav-item
          a.nav-link([routerLink]="['/dailypictures']")
            i.fa.fa-camera-retro.fa-2x
            p &nbsp;Dagelijkse foto