.wrapper
  .page-header.page-header-small
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/oud.jpg');")
    .container
      .content-center
        h1.title {{siteName}}
        h3.title Timelapse van de verbouwing van het Oudenrijn ziekenhuis
  .section.section-about-us
    .container
      .row
        .col-md-8.ml-auto.mr-auto.text-center
          h2.title Wat dan?
          h5.description
            | Sinds 2014 maak ik dagelijks foto's van de verbouwing van het Oudenrijn ziekenuis in Utrecht. Op deze pagina zijn details van de verbouwing en een overzicht met foto's door de verschillende jaren heen te vinden.
      .separator.separator-primary
      .section-story-overview
        .row
          .col-md-6
            .image-container.image-left(style="background-image: url('assets/img/artist.jpg')")
              p.blockquote.blockquote-primary
                | Op woensdag 3 oktober jl. is door Burgemeester Jan van Zanen het "NIDO Utrecht" project officieel gestart met de onthulling van de eerste steen."
                br
                br
                small
                  a(href="https://www.utrecht.nl/bestuur-en-organisatie/college-van-b-en-w/burgemeester-en-wethouders/burgemeester/toespraken/eerste-steen-studentenwoningencomplex-nido/", target="_blank") Bron
            .image-container(style="background-image: url('assets/img/artist2.png')")
          .col-md-5
            .image-container.image-right(style="background-image: url('assets/img/homeopatisch-ziekenhuis-en-24-oktoberplein-vanuit-de-lucht-in-1983-HUA-118960-fotodienst-GAU.jpg')")
            h3 Over Nido Utrecht
            p Opening in September 2020, this Nido Student residence will offer fully-furnished, modern studio flats available for short-stay and semester lets. Nido Antoniushof is perfectly located for all major universities and colleges in the city, with tram links and bus routes right outside the front door.
            p All rooms at Nido Antoniushof come fully furnished ready for you to move straight in, each room also has its own ensuite shower room and kitchen area. You’ll have a comfy double bed, study desk, large wardrobe, full-length mirror, plenty of smart storage and lots of well-placed plug sockets. Your new room has been carefully designed with student life in mind, so you’ll have everything to need to make the most of student life in Utrecht.
            p This residence will offer over 500 rooms with plenty of shared social and study spaces for you to enjoy from September 2020. If you’re looking to make friends, there are plenty of social and games areas for you to enjoy, or if you want to have all your friends over you can book out our private dining room to host the perfect dinner party.
  .section.section-team.text-center
    .container
      h2.title Wie?
      .team
        .row
          .col-md-4
          .col-md-4
            .team-player
              img.rounded-circle.img-fluid.img-raised(src='assets/img/tim.png', alt='Tim')
              h4.title Tim
              p.category.text-primary Super hero
              p.description 
                | I get up every day to achieve the seemingly impossible, in a clever and efficient way. See my private portfolio 
                a(href='https://timdows.com') timdows.com
                |  for some results I have achieved in various projects over the years.
              a.btn.btn-primary.btn-icon.btn-round(href='https://twitter.com/TimdowsCOM', target="_blank")
                i.fab.fa-twitter
              a.btn.btn-primary.btn-icon.btn-round(href='https://github.com/timdows', target="_blank")
                i.fab.fa-github
              a.btn.btn-primary.btn-icon.btn-round(href='https://www.linkedin.com/in/timdows', target="_blank")
                i.fab.fa-linkedin
          .col-md-4