.wrapper
  .page-header.page-header-small
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/oud.jpg');")
    .container
      .content-center
        h1.title Upliving
        h3.title Timelapse van de verbouwing van het Oudenrijn ziekenhuis
  .section.section-about-us
    .container
      .row
        .col-md-8.ml-auto.mr-auto.text-center
          h2.title Wat dan?
          h5.description
            | Sinds 2014 maak ik dagelijks foto's van de verbouwing van het Oudenrijn ziekenuis in Utrecht. Op deze pagina zijn details van de verbouwing en een overzicht met foto's door de verschillende jaren heen te vinden.
      .separator.separator-primary
      .section-story-overview
        .row
          .col-md-6
            .image-container.image-left(style="background-image: url('assets/img/artist.jpg')")
              p.blockquote.blockquote-primary
                | "Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                br
                br
                small -NOAA
            .image-container(style="background-image: url('assets/img/artist2.png')")
          .col-md-5
            .image-container.image-right(style="background-image: url('assets/img/homeopatisch-ziekenhuis-en-24-oktoberplein-vanuit-de-lucht-in-1983-HUA-118960-fotodienst-GAU.jpg')")
            h3 So what does the new record for the lowest level of winter ice actually mean
            p
              | The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
            p
              | For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
            p
              | The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
  .section.section-team.text-center
    .container
      h2.title Wie?
      .team
        .row
          .col-md-4
          .col-md-4
            .team-player
              img.rounded-circle.img-fluid.img-raised(src='assets/img/tim.png', alt='Tim')
              h4.title Tim
              p.category.text-primary Super hero
              p.description 
                | I get up every day to achieve the seemingly impossible, in a clever and efficient way. See my private portfolio 
                a(href='https://timdows.com') timdows.com
                |  for some results I have achieved in various projects over the years.
              a.btn.btn-primary.btn-icon.btn-round(href='https://twitter.com/TimdowsCOM', target="_blank")
                i.fab.fa-twitter
              a.btn.btn-primary.btn-icon.btn-round(href='https://github.com/timdows', target="_blank")
                i.fab.fa-github
              a.btn.btn-primary.btn-icon.btn-round(href='https://www.linkedin.com/in/timdows', target="_blank")
                i.fab.fa-linkedin
          .col-md-4