.wrapper
  .page-header.page-header-small(filter-color='orange')
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/bg5.jpg') ;")
    .container
      .content-center
        .photo-container
          img(src='assets/img/tim.png', alt='')
        h3.title Tim
        p.category Super hero
        .content
          .social-description
            h2 26
            p Comments
          .social-description
            h2 26
            p Comments
          .social-description
            h2 48
            p Bookmarks
  .section
    .container
      .button-container
        a.btn.btn-primary.btn-round.btn-lg(href='#button') Follow
        a.btn.btn-default.btn-round.btn-lg.btn-icon(href='#button', rel='tooltip', title='Follow me on Twitter')
          i.fab.fa-twitter
        a.btn.btn-default.btn-round.btn-lg.btn-icon(href='#button', rel='tooltip', title='Follow me on Instagram')
          i.fab.fa-instagram
      h3.title About me
      h5.description
        | An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.
      .row
        .col-md-12
          h4.title.text-center My Portfolio