.wrapper
  .page-header.page-header-small
    .page-header-image.rellax-header(data-rellax-speed='-8', style="background-image: url('assets/img/oud.jpg');")
    .container
      .content-center
        h1.title Elke dag om 14:00 een foto 
  .section.section-about-us
    .container
      .row
        .col-md-10.ml-auto.mr-auto
          .row.collections
            .col-md-6
              img.img-raised(src='assets/img/bg6.jpg')
              img.img-raised(src='assets/img/bg11.jpg', alt='')
            .col-md-6
              img.img-raised(src='assets/img/bg7.jpg', alt='')
              img.img-raised(src='assets/img/bg8.jpg', alt='')

  footer.footer.footer-default
    .container
      .copyright
        | ©
        | {{data | date: 'yyyy'}} by 
        a(href='https://timdows.com', target='_blank') Timdows
        | .
